body {
  margin: 0;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant/Assistant-Regular.ttf);
}
@font-face {
  font-family: Assistant-SemiBold;
  src: url(fonts/Assistant/Assistant-SemiBold.ttf);
}

.gameboard-title-row,
.gameboard-row,
.stats-row {
  display: grid;
  grid-template-columns: 14vw 34vw 4vw 34vw 14vw;
  justify-content: center;
}

.header {
  height: 100px;
  display: grid;
  align-items: center;
}

.header-title {
  font-size: 30px;
  font-family: Assistant-SemiBold;
  display: grid;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  min-height: 60px;
}

.name {
  font-size: 30px;
  font-family: Assistant;
  display: grid;
  justify-content: center;
}

.player-ships,
.computer-ships {
  max-width: 500px;
  min-width: 100px;
  padding-top: 100%;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  min-width: 100px;
  position: relative;
}

.cell {
  position: relative;
  max-width: 10vw;
  min-width: 10px;
  padding-top: 100%;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(152, 201, 200);
  transition: background-color 0.5s, opacity 0s;
}

.ships-left,
.hits-taken {
  font-size: 24px;
  font-family: Assistant;
  display: flex;
}

.ships-left-player-value,
.ships-left-computer-value,
.hits-taken-player-value,
.hits-taken-computer-value {
  margin-left: 8px;
}

.shipOnSquare {
  background-color: #20aaaf;
}

.cell:hover {
  opacity: 0.9;
  transition: opacity 0s;
}

.cell-hit,
.ship-hit {
  cursor: not-allowed;
}

.ship-miss {
  background-color: rgba(90, 233, 255, 0.417);
}

.ship-hit {
  background-color: red;
}

.win {
  background-color: rgb(24, 95, 0);
  opacity: 0.5;
  transition: 1s;
}

.lose {
  background-color: rgb(95, 0, 0);
  opacity: 0.5;
  transition: 1s;
}

.you-lose-message,
.you-win-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  font-family: Assistant-SemiBold;
  font-size: calc(3vw);
  color: white;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 25px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.impact-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0;
}

.cell-shake {
  z-index: 1;
  animation: shake 1s;
}

@keyframes shake-1 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(0px, 0px) rotate(7deg) scale(1.3);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes shake-2 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(0px, 0px) rotate(-7deg) scale(1.3);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes shake-3 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(10px, 0px) rotate(-12deg) scale(1.2);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes shake-4 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(0px, 0px) rotate(15deg) scale(1.4);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes shake-5 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(0px, 10px) rotate(-20deg) scale(1.5);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
